.Hero {
  background-image: url("/Heropicture.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 500px;
  padding: 1rem;
}

.Hero div {
  max-width: 800px;
  /* padding: 1rem; */
}

.Hero h2 {
  font-size: 3rem;
  font-family: "cursive, Courier New", Courier, monospace;
  line-height: 1.2;
  font-weight: 2rem;
  background: transparent;
  z-index: 1;
}

.Hero span {
  color: #faaa16;
}

.Hero p {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  background: transparent;
  font-weight: 900;
  z-index: 1;
}

.ctaButton {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.appointment {
  padding: 0.9rem 2rem;
  background: transparent;
  color: #eeeeee;
  font-weight: bolder;
  font-size: x-large;
  text-decoration: none;
  border: 2px solid #c0a062;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.appointment:hover {
  background-color: #c0a062;
  color: #1a1a1a;
  cursor: pointer;
}

/* Responsive tweaks */
@media (max-width: 600px) {
  .Hero h2 {
    font-size: 2rem;
  }

  .Hero p {
    font-size: 0.95rem;
  }

  .ctaButton {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }

  .appointment {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    width: 100%;
    max-width: 300px;
  }
}
