.header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  opacity: 1;
  width: 100%;
  z-index: 10;
  background-color: #eeeeee;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: #eeeeee; */
  /* box-shadow: 0px 5px 7px rgba(72, 1, 1, 0.2); */
  padding: 1rem;
  /* opacity: 1; */
}

.logo img {
  height: fit-content;
  width: 100px;
  /* margin-top: 20px; */
  margin-right: 15px;
}

ul {
  display: flex;
  text-align: center;
}

ul li {
  list-style: none;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0 1em;
}

.link {
  text-decoration: none;
  color: #495e57;
  font-weight: bolder;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #be8211; /* Little Lemon's accent color */
  text-decoration-thickness: 2px;
  color: #be8211;
}

.order {
  text-decoration: none;
  color: #eeeeee;
  font-weight: bolder;
  background-color: #495e57;
  padding: 5px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.order:hover {
  color: #faaa16;
  background: #333333;
}

.openmenu {
  color: #333333;
  font-size: xx-large;
  font-weight: bolder;
  display: none;
}

.closemenu {
  color: #333333;
  font-size: xx-large;
  font-weight: bolder;
  display: none;
}

.carticonlink {
  font-size: 3.5em;
  font-weight: 5em;
  text-decoration: none;
  position: relative;
  color: #495e57;
}

.carticonlink span {
  color: #faaa16;
  font-size: large;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  bottom: 1.8em;
  right: 1em;
}

/* Add these styles */

.menu {
  display: flex;
}

@media (max-width: 890px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #eeeeee;
    width: 100%;
    padding: 1rem;
    z-index: 9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .show {
    display: flex;
  }

  .openmenu {
    display: block;
    cursor: pointer;
  }

  .closemenu {
    display: block;
    cursor: pointer;
  }
}
